    <ol class="nav-list">
      <li><a href="/">Rules</a></li>
      <li><a href="/list/1">1</a></li>
      <li><a href="/list/2">2</a></li>
      <li><a href="/list/3">3</a></li>
      <li><a href="/list/4">4</a></li>
      <li><a href="/list/5">5</a></li>
      <li><a href="/list/6">6</a></li>

      <li><a href="/list/7">7</a></li>

      <li><a href="/list/8">8</a></li>

      <li><a href="/list/9">9</a></li>

      <li><a href="/list/10">10</a></li>

      <li><a href="/list/11">11</a></li>

      <li><a href="/list/12">12</a></li>

      <li><a href="/list/13">13</a></li>

      <li><a href="/list/14">14</a></li>

      <li><a href="/list/15">15</a></li>

      <li><a href="/list/16">16</a></li>

      <li><a href="/list/17">17</a></li>

      <li><a href="/list/18">18</a></li>
    </ol>