<div class="time-container">  
  <div id="clock-display" class="clock-display mar-bottom-sm"></div>
  <div class="timer-controls">
    <button id="clock-start" class="timer-button">▶️</button>
    <button id="clock-pause" class="timer-button timer-hide">⏸️</button>
    <button id="clock-reset" class="timer-button">🔄</button>
  </div>
</div>