 <% include partials/head.ejs%>

<div class="content-background">  
  <div class="content-container intro">
    
    <h1 class="intro-title">Scattergories!</h1>
    <h2>What you need</h2>
    <p class="mar-bottom-sm">One of more friends, a pen, and a piece of paper with 12 bullets. </p>
    
    <h2>Gameplay</h2>
    <ol class="mar-bottom-sm">
      <li>See what the randomly generated letter is (and regenerate if you want)</li>
      <li>Press play on the timer</li>
      <li>Write down words that start with that letter as fast as you can!</li>
      <li>After 2 minutes time is up! Put your pens down!</li>
      <li>Score everyones cards</li>
      <li>Move to the next game to get new prompts and a new letter</li>
    </ol>

    <h2>Scoring</h2>
    <ul class="mar-bottom-sm">      
      <li>1 point for every complete/valid answer</li>
      <li>If another player has the same answer you <strong>both</strong> lose the point</li>
      <li>Alliteration counts for additional points. 
        <br><em>For example: Mickey Mouse would be 2 points.</em>
      </li>
      <li>Iffy answers are subject to group vote.</li>
    </ul>

    <div class="centered">
      <a href="list/1" class="cta-btn mar-bottom">Play now!</a>  
    </div>
  </div>
</div>

 <% include partials/footer.ejs%>

