 <% include partials/head.ejs%>
<div class="content-background">  
  <div class="content-container intro">
    <h1>Scattergories!</h1>

    <h2>How to play Scattergories</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel lectus id purus rutrum sagittis elementum at ligula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc tincidunt ligula et erat accumsan blandit. Morbi bibendum, nisl eget posuere sagittis, sapien risus tincidunt lorem, vitae rutrum nunc elit sit amet est. Vestibulum pulvinar nibh ipsum, at sollicitudin justo consectetur at. Etiam imperdiet lacinia nisi eget imperdiet. Nam facilisis mollis euismod. Ut porttitor nisi ligula, mollis ultrices mauris ullamcorper et. Donec consectetur mauris nec semper placerat. Praesent tempor quis ipsum vel dapibus. Aliquam ut justo ipsum. Curabitur nisl sapien, venenatis eget sollicitudin nec, dictum a felis. Mauris eget orci nec tellus auctor finibus et sed lorem.</p>

    <h2>How to use this app</h2>
    <p class="mar-bottom">Maecenas odio velit, laoreet vitae dapibus ut, finibus ut massa. Morbi ultrices ex nec placerat finibus. Donec eu efficitur elit, tincidunt porttitor ipsum. Duis quis scelerisque diam. Ut dignissim pulvinar erat non suscipit. Donec eleifend sem vel efficitur ultrices. Integer quis diam consequat felis imperdiet laoreet. Aenean sagittis augue massa, non viverra erat mattis ac. Suspendisse ac malesuada libero. Aliquam eleifend urna bibendum lacus hendrerit sodales. Aenean id luctus felis, vel blandit velit. Cras vel neque at enim fringilla ornare. Donec sit amet purus augue. Vestibulum pharetra commodo aliquet.</p>
    <div class="centered">
      <a href="list/1" class="cta-btn mar-bottom">Play now!</a>  
    </div>
  </div>
</div>

 <% include partials/footer.ejs%>

