.control-element {
  @include box-style;
  text-align: center;
  flex-grow:1;  
  
  &:first-of-type { 
    margin-bottom: $space-sm;
    
    @media screen and ($small-only) {
      margin-top: $space-sm;
    }
  }
}

.time-container {
  display:flex;
  flex-direction:column;
  justify-content: center;
}


.clock-display,
.letter {
  text-transform: uppercase;
  font-size: 48px;
  font-weight:800;
  @media screen and ($small-up) {
    font-size: 95px;
  }
}

.timer-hide {
  display:none;
}

.timer-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  font-size: 40px;
}
