.intro {
  @include box-style;
  @media screen and ($small-up) {
    //  giving it more breathing room   
    padding-right: $space;
    padding-left: $space;
  }
}

.intro-title {
  text-align: center;
  
  @media screen and ($small-up) {
    font-size: 40px;
  }
}